.post_container {
    text-align: center;
  }

  .post_body {
    text-align: justify;
    padding: 80px;
    line-height: 2em;
    color: rgb(53, 51, 51)
  }
  
  .post_container h3 {
    margin-bottom: 0.2em;
  }
  
  .post_container .tags {
    display: flex;
    justify-content: center;
  }
  
  .tags p {
    margin-right: 1em;
  }
  
  .tags span {
    font-weight: bold;
  }

  .post_container img {
    max-width: 500px;
  }